#!/bin/bash


temp_pass=$(echo `grep 'temporary.*root@localhost' /var/log/mysqld.log | sed 's/.*root@localhost: //'`)

mysql -u root --connect-expired-password -p''$temp_pass''<<execute
ALTER USER 'root'@'localhost' IDENTIFIED BY 'Hnj7bjsv45nkja0L@' ;
FLUSH PRIVILEGES;
uninstall plugin validate_password;
ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ mysql_root_password }}' ;
FLUSH PRIVILEGES;
execute


